<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Titulo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='index.js'></script>
</head>

<body>
    <h1>Full Cycle Rocks!!</h1><br/>
    {{{body}}}
</body>

</html>